*{
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    position: absolute;
    width: 11%;
    padding: 10px;
    left: 7%;
    top: 10px;
}
nav{
    display: flex;
    justify-content: center;
    padding: 33px;
    margin-left: 60px;
}
ul{
   display: flex;
   justify-content: center;
   gap: 50px;
}
li a{
    color: black;
    font-size: 2px;
}